li {
    margin-bottom: 10px;
}

.nav-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

a .label {
    position: absolute;
    top: -4px;
    left: 70px;
}

.bar {
    width: 18px;
    height: 3px;
    margin-top: 3px;
    background-color: #000;
}


.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
}

@media screen and (max-width:500px) {
    footer {
        .nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

